$violet: #a240dd;
$darkgrey: #342f3c;

header {
    height: 600px;
    width: 100%;
    background-image: url("../images/7.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    .addon {
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translate(-50%, 10%);
    }
}

.main-title {
    display: inline-block;
    background-color: rgba(255,255,255,0.7);
    padding: 50px;
    margin-top: 40px;
    margin-bottom: 40px;
    width: max-content;
}

.main-title-mobile {
    display: none;
    h1 {
        color: white;
        text-align: center;
        text-shadow: 1px 1px #000000;
    }
}

.hamburger {
    display: flex;
    flex-direction: column;
    position: absolute;
    z-index: 3;
    top: 20px;
    right: 20px;
}

.bar {
    width: 80px;
    height: 12px;
    background-color: white;
    margin-top: 10px;
    border-radius: 5px;
    transition: 1s all;
}

/* ------- Hamburger menu after click ------- */

.hamburger-menu {
    // display: none;
    display: flex;
    position: absolute;
    z-index: 1;
    top: 0;
    right: -100%;
    background-color: white;
    width: 30%;
    height: 100%;
    padding: 50px;
    align-items: center;
    transition: 1s all;
    li {
        display: block;
        margin: 40px;
    }
    a {
        text-decoration: none;
        color: $violet;
        font-size: 2em;
    }
}

.visible-hamburger-menu {
    right: 0;
}


.clicked-hamburger-bar {
    background-color: $violet;
}



// Media Queries


@media screen and (max-width: 1024px) {
    .main-title {
        display: none;
    }
    .main-title-mobile {
        display: block;
        z-index: 1;
    }
    header {
        &::after {
            content: "aaa";
            width: 100%;
            height: 100%;
            background-color: $darkgrey;
            opacity: 0.5;
            position: absolute;
        }
    }
    .visible-hamburger-menu {
        right: 0;
        width: 100%;
    }
    .hamburger-menu {
        justify-content: center;
    }


}




//
